.desktop-404 {
  display: none;
}
.mobile-404 {
  width: 85%;
  margin: 0 auto;
}
.error-404__get-back-home {
  width: 88vw;
  margin: 20px auto 0;
}



/* ====================================================== */
/* ======================= DESKTOP ====================== */
/* ====================================================== */

@media only screen and (min-width: 1050px) {

  .error-404 {
    margin-top: 100px;
  }
  .mobile-404 {
    display: none;
  }
  .desktop-404 {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  .error-404__get-back-home {
    margin-left: calc(50vw - 600px);
    width: 325px;
  }

}