.front-page__how-we-do-it .front-page__how-we-do-it-header {
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.7em;
}
.front-page__how-we-do-it .how-we-do-it-title {
  height: 65px;
  /* line-height: 60px; */
  text-transform: capitalize;
  font-size: 1.4em;
  font-weight: 600;
  cursor: pointer;
  /* display: inline-block; */
  /* flex-direction: row; */
  align-items: center;
}
.front-page__how-we-do-it .how-we-do-it-title:hover .open-and-close-button .line-one {
  transform: rotate(180deg);
}
.front-page__how-we-do-it .how-we-do-it-title:hover .open-and-close-button .line-two {
  transform: rotate(90deg);
}
.front-page__how-we-do-it .how-we-do-it-title .open-and-close-button {
  display: inline-block;
  height: 1.15em;
  width: 1.15em;
  margin-left: 5px;
  margin-bottom: -5px;
  position: relative;
}
.front-page__how-we-do-it .how-we-do-it-title .open-and-close-button .line-one {
  height: 2px;
  width: 70%;
  background-color: #443CFF;
  margin: calc(50% - 1px) auto 0;
  transform-origin: 50% 50%;
  transition: all 0.2s ease-in-out;
}
.front-page__how-we-do-it .how-we-do-it-title .open-and-close-button .line-two {
  height: 70%;
  width: 2px;
  margin: calc(-35% - 1px) auto 0;
  background-color: #443CFF;
  transition: all 0.2s ease-in-out;
}
.front-page__how-we-do-it .how-we-do-it-single-wrap {
  max-height: 65px;
  margin: 0 -6vw;
  padding: 0 6vw;
  overflow: hidden;
  width: 100vw;
  transition: max-height 1s ease-in-out;
}
.front-page__how-we-do-it .how-we-do-it-content-toggle {
  background-color: rgb(238, 238, 253);
  padding: 6vw 120px;
  margin: 0 -120px;
  position: relative;
  transition: all 1s ease-in-out;
  margin-bottom: 6vw;
  /* display: none; */
  /* height: 0;
  padding: 0 120px;
  overflow: hidden; */
}
.front-page__how-we-do-it .how-we-do-it-content-toggle .how-we-do-it-content-title {
  margin-top: 6vw;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 0.8em;
}
.front-page__how-we-do-it .how-we-do-it-content-toggle .how-we-do-it-content-title:nth-child(1) {
  margin-top: 0;
}
.front-page__how-we-do-it .how-we-do-it-content-toggle .how-we-do-it-content-detail {
  margin-bottom: 50px;
}
.front-page__how-we-do-it .how-we-do-it-content-toggle .how-we-do-it-content-view-projects {
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 1.7em;
}
.front-page__how-we-do-it .how-we-do-it-content-toggle .how-we-do-it-content-view-projects:hover {
  text-decoration: none;
}


/* featured projects */
.featured-projects-header {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
}
.featured-projects-background-square {
  height: 150vw;
  width: 80vw;
  background: linear-gradient(#443CFF, #fff); 
  position: absolute;
  right: 0;
  top: 150px;
  opacity: 0.6;
}
.featured-projects-background-circle {
  height: 150vw;
  width: 140vw;
  border-radius: 50%;
  background: linear-gradient(#443CFF, #fff); 
  position: absolute;
  left: -40%;
  top: 1000px;
  opacity: 0.6;
}
@media only screen and (max-width: 500px) {
  #featured-case-studies article {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 1025px) {
  .post-portfolio .post-meta {
    display: none;
  }
}

.how-we-do-it-content-detail span {
  font-family: arno-pro;
  font-size: 1.1em;
}


/* ====================================================== */
/* ======================= DESKTOP ====================== */
/* ====================================================== */

@media only screen and (min-width: 1050px) {
  
  /* .front-page__how-we-do-it {
    padding: 60px;
  } */
  .front-page__how-we-do-it .front-page__how-we-do-it-header {
    font-size: 0.7em;
  }
  .front-page__how-we-do-it .how-we-do-it-single-wrap {
    max-height: 80px;
    margin: 0 -60px;
    padding: 0 60px;
  }
  .front-page__how-we-do-it .how-we-do-it-title {
    font-size: 2.5em;
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: row;
  }
  .front-page__how-we-do-it .how-we-do-it-title:hover .open-and-close-button .line-one {
    transform: rotate(180deg);
  }
  .front-page__how-we-do-it .how-we-do-it-title:hover .open-and-close-button .line-two {
    transform: rotate(90deg);
  }
  .front-page__how-we-do-it .how-we-do-it-title .open-and-close-button {
    display: block;
    height: 1.15em;
    width: 1.15em;
    margin-left: 30px;
    position: relative;
  }
  .front-page__how-we-do-it .how-we-do-it-title .open-and-close-button .line-one {
    height: 2px;
    width: 70%;
    background-color: #443CFF;
    margin: calc(50% - 1px) auto 0;
    transform-origin: 50% 50%;
    transition: all 0.2s ease-in-out;
  }
  .front-page__how-we-do-it .how-we-do-it-title .open-and-close-button .line-two {
    height: 70%;
    width: 2px;
    margin: calc(-35% - 1px) auto 0;
    background-color: #443CFF;
    transition: all 0.2s ease-in-out;
  }
  .front-page__how-we-do-it .how-we-do-it-content-toggle .how-we-do-it-single-content-toggle {
    display: flex;
  }
  .front-page__how-we-do-it .how-we-do-it-content-toggle .how-we-do-it-single-content-toggle > div {
    width: 50%;
  }
  .front-page__how-we-do-it .how-we-do-it-content-toggle .how-we-do-it-single-content-toggle > div:nth-child(2) {
    padding-left: 10vw;
  }
  .front-page__how-we-do-it .how-we-do-it-content-toggle .how-we-do-it-single-content-toggle > div .how-we-do-it-content-title {
    font-size: 0.7em;
  }
  .front-page__how-we-do-it .how-we-do-it-content-toggle .how-we-do-it-single-content-toggle > div .how-we-do-it-content-detail {
    font-size: 1.5em;
  }

  /* featured projects */
  .featured-projects-header {
    font-size: 0.7em;
  }
  .font-page-view-more-projects {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
  }
  .post-portfolio > .post-meta {
    color: white;
    display: block;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
  }
  .post-portfolio:nth-child(even) > .post-meta {
    left: 25px;
  }
  .post-portfolio > .post-meta > h2 {
    font-size: 0.8em !important;
    font-weight: 900 !important;
    letter-spacing: 1.5px;
    margin-top: 0;
    opacity: 0;
    text-transform: uppercase;
    transform: translate(0, 0);
    width: 100%;
  }
  .post-portfolio > a::before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: #443CFF;
    display: block;
    z-index: 1;
    mix-blend-mode: multiply;
    opacity: 0;
  }
  .post-portfolio:hover a::before {
    opacity: 0.8;
  }
  .post-portfolio:hover .post-meta > h2 {
    opacity: 1;
  }
  .featured-projects-background-square {
    height: 50vw;
    width: 50vw;
    top: 50px;
  }
  .featured-projects-background-circle {
    height: 50vw;
    width: 50vw;
    left: 0;
    top: 600px;
  }
}

/* ====================================================== */
/* ======================= X LARGE ====================== */
/* ====================================================== */

@media only screen and (min-width: 1200px) {

  .front-page__how-we-do-it .front-page__how-we-do-it-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  } 
  .front-page__how-we-do-it .how-we-do-it-content-toggle {
    margin: 0 -120px;
    padding: 60px 120px;
    background-color: rgb(238, 238, 253);
  }
  .front-page__how-we-do-it .how-we-do-it-content-toggle .how-we-do-it-single-content-toggle {
    max-width: 1200px;
    margin: 0 auto;
  }
  .front-page__how-we-do-it .how-we-do-it-content-toggle .how-we-do-it-content-view-projects {
    width: 1200px;
    margin: 0 auto;
    display: block;
  }
  .front-page__how-we-do-it .how-we-do-it-title {
    max-width: 1200px;
    margin: 0 auto 40px;
  }



  #featured-case-studies {
    max-width: 1200px;
    margin: 0 auto;
  }
  .featured-projects-header {
    max-width: 1200px;
    margin: 0 auto;
  }

}