/* ====================================================== */
/* ======================= MOBILE ======================= */
/* ====================================================== */

.services-page-intro .services-page-intro-title p{
  font-size: 1.5em;
  font-weight: 600;
}
.services-page-intro .services-page-intro-detail {
  margin-top: 20px;
}

/* ====================================================== */
/* ======================= DESKTOP ====================== */
/* ====================================================== */

@media only screen and (min-width: 1050px) {

  .services-page-intro {
    margin-top: 100px;
    width: 60vw;
  }
  .services-page-intro .services-page-intro-title p{
    font-size: 3em;
    font-weight: 300;
  }

}

/* ====================================================== */
/* ======================= X LARGE ====================== */
/* ====================================================== */

@media only screen and (min-width: 1450px) {

  .services-page-intro {
    padding-left: 240px;
  }

}